* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Pacifico', sans-serif;
}

body{
    z-index: 1;
}

section {
    min-height: 100vh;
    padding: 0 0 2rem;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

          /* HEADER */

header{
    width: 100%;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div{
    margin: auto;
}

          /* SQUARE-QUOTE */

#square-quote {
    min-width: 30%;
    max-width: 45%; /* 1/3 of the website */
    height: 20rem;
    background-color: #CBF1F5; /* white background */
    left: 33.33%; /* Center the box horizontally */
    border-radius: 0 0 100% 100%;
    animation: slideFromTop 2s forwards;
}

#square-quote p{
    text-align: center;
    margin-top: 5rem;
    color: #fff; /* blue text color */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0693ff;
    font-size: 2.5rem;
}

          /* LINKS AROUND SQUARE-QUOTE */

.header_link{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.home-sci{
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: .2rem solid #fff;
    border-radius: 50%;
    font-size: 3rem;
    color: #0693ff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci p {
    font-size: 1.5rem;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover {
    color: #fff;
}

.home-sci a:hover::before {
    width: 100%;
}



.main_container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 2fr);
}

.container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 90%;
    margin: 3rem 0 3rem 0;
    border: 0.2rem solid #fff;
    border-radius: 2.5rem;
    background-color: #fff;
}

.info-container .info-text {
    opacity: 1;
    border: 3rem solid #fff;
    font-family: 'Verdana';
}

.info-img {
    opacity: 1;
    border: 3rem solid #fff;
}

.info-container .info-title {
    opacity: 1;
    margin: 3rem;
}


footer{
    padding: 1rem 1rem 2rem 1rem;
    height: 100%;
    width: 100%;
    background-color: #CBF1F5;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #0693ff;
    position: relative;
}
#footer-links{
    display: grid;
    grid-template-columns: repeat(3, 5fr);
}
#footer-links div{
    margin: 2rem 5rem 4rem 5rem;
}
#footer-links div a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Verdana'!important;
    color: #0693ff;
}
#all-rights-reserved{
    font-family: 'Verdana'!important;
}