<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/credits/css/credits.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
    <script src="https://kit.fontawesome.com/8a134efa8c.js" crossorigin="anonymous"></script>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Credits</title>
</head>
<body>
    <section>
        <header>
            <div class="header_link">
                <div class="home-sci">
                    <a href="#"><i class='bx bxl-telegram'></i></a>
                    <p>Telegram</p>
                </div>
            </div>

            <div id="square-quote">
                <p>Thank you for your help</p>
            </div>

            <div class="header_link">
                <div class="home-sci">
                    <a href="#"><i class='bx bxl-discord'></i></a>
                    <p>Discord</p>
                </div>
            </div>
        </header>

        <div>
            <img src="/static/credits/img/background.jpg" class="background-image" alt="">
        </div>

        <div class="main_container">
            <div class="container">
                <div class="info-img">
                    <img src="/static/index/img/preview.jpg" alt="Your Image" width="300" height="300">
                </div>

                <div class="info-container">
                    <h2 class="info-title">Information Box</h2>
                    <p class="info-text">lorem100.</p>
                </div>
            </div>

            <div class="container">
                <div class="info-img">
                    <img src="/static/index/img/preview.jpg" alt="Your Image" width="300" height="300">
                </div>

                <div class="info-container">
                    <h2 class="info-title">Information Box</h2>
                    <p class="info-text">lorem100.</p>
                </div>
            </div>
        </div>

        <div class="main_container">
            <div class="container">
                <div class="info-img">
                    <img src="/static/index/img/preview.jpg" alt="Your Image" width="300" height="300">
                </div>

                <div class="info-container">
                    <h2 class="info-title">Information Box</h2>
                    <p class="info-text">lorem100.</p>
                </div>
            </div>

            <div class="container">
                <div class="info-img">
                    <img src="/static/index/img/preview.jpg" alt="Your Image" width="300" height="300">
                </div>

                <div class="info-container">
                    <h2 class="info-title">Information Box</h2>
                    <p class="info-text">lorem100.</p>
                </div>
            </div>
        </div>

        <div class="main_container">
            <div class="container">
                <div class="info-img">
                    <img src="/static/index/img/preview.jpg" alt="Your Image" width="300" height="300">
                </div>

                <div class="info-container">
                    <h2 class="info-title">Information Box</h2>
                    <p class="info-text">lorem100.</p>
                </div>
            </div>

            <div class="container">
                <div class="info-img">
                    <img src="/static/index/img/preview.jpg" alt="Your Image" width="300" height="300">
                </div>

                <div class="info-container">
                    <h2 class="info-title">Information Box</h2>
                    <p class="info-text">lorem100.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="footer-links">
            <div><a href="#" class="footer_link">Support us</a></div>
            <div><a href="{% url 'contact_us' %}" class="footer_link">Contact us / Leave feedback</a></div>
            <div><a href="{% url 'credits' %}" class="footer_link">Credits</a></div>
        </div>

        <div>
            <div><p id="all-rights-reserved">© All rights reserved</p></div>
        </div>
    </footer>

</body>
</html>